<!DOCTYPE html>
<html>
    <head>
        <title>Homestay - Dashboard</title>
    </head>
    <body>
        {% if first_name and last_name %}
        <h1>
            {{ first_name }} {{ last_name }}, welcome to your Homestay dashboard.
        </h1>
        <form method="POST">
            <button type="submit" name="logout" value="logout">Log Out</button>
        </form>
        {% endif %}
        {% if listings %}
            <h2>Your property listings:</h2>
            <hr>
            {% for prop in listings %}
                <a href="{{ url_for('property_page', property_id=prop.property_id) }}"
                style="color: black; text-decoration: none;">
                    <p>
                        {{ prop.street_address }}, {{ prop.city }}, {{ prop.state_province }}, {{ prop.country }}<br>
                        Max occupancy: {{ prop.max_guests }}, Bed type: {{ prop.bed_type }}, Available after: {{ prop.available_date }}<br>
                        Description:<br>
                        {{ prop.about }}
                    </p>
                </a>
                <hr>
            {% endfor %}
        {% endif %}
    </body>
</html>
