<!DOCTYPE html>
<html>
    <head>
        <title>Homestay - Profile</title>
    </head>
    <body>
        {% if first_name and last_name %}
        <h1>
            {{ first_name }} {{ last_name }}, welcome to your Homestay profile.
        </h1>
        <form method="POST">
            <button type="submit" name="logout" value="logout">Log Out</button>
        </form>
        {% endif %}
        {% if agreements %}
            <h2>Your agreements:</h2>
            <hr>
            {% for a in agreements %}
                Agreement #{{ a.agreement_id }}<br>
                <a href="{{ url_for('property_page', property_id=a.property_id) }}">View Property</a><br>
                From {{ a.begin_date }} to {{ a.end_date }}.<br>
                Payment method: {{ a.method }}<br>
                Amount: ${{ a.amount }}<br>
                Payment status: {{ a.transaction_status }}
                {% if a.rating %}
                    <br>
                    You rated {{ a.rating }} star{{ '' if a.rating == 1 else 's' }}.
                {% endif %}
                <hr>
            {% endfor %}
        {% endif %}
    </body>
</html>
